@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Psicología Clínica</title>
    <link rel="stylesheet" href="~/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="section1">
        <div class="text">
            <h3>BIENVENIDO A NUESTRA</h3>
            <h2>Psicología Clínica y Psicoterapeuta Racional Conductual</h2>
            <button>AGENDAR SESIÓN</button>
        </div>
        <div class="container">
            <div class="image-container">
                <img src="/img/psicologa.png" alt="Imagen Principal" class="main-image">
                
                <img src="/img/hoja1.png" alt="Planta" class="plant plant-top-left" >
                <img src="/img/hoja2.png" alt="Planta" class="plant plant-top-right" >
                
                <div class="plant-container">
                    <img src="/img/hoja3.png" alt="Planta" class="plant plant-bottom-right">
                </div>

            </div>
        </div>
    </div>

<section><br></section>
   
        <div class="cards-container">
        <div class="card">
            <img src="/img/mision.png" alt="Imagen 1" class="card-image">
            <div class="card-content">
                <h3>MISIÓN</h3>
                <p>Cultivar una comunidad sólida mediante la creación de contenido psicoeducativo y terapia psicológica de calidad. </p>
            </div>
        </div>
        <div class="card">
            <img src="/img/vision.png" alt="Imagen 2" class="card-image">
            <div class="card-content">
                <h3>VISIÓN</h3>
                <p>Ser una marca reconocida a nivel internacional por brindar un servicio profesional que ayuda a tener la mejor versión de cada uno de nuestros clientes.</p>
            </div>
        </div>
        <div class="card">
            <img src="/img/objetivos.png" alt="Imagen 3" class="card-image">
            <div class="card-content">
                <h3>OBJETIVOS</h3>
                <p>Fomentar el bienestar emocional y mental de cada persona, guiandólos hacia una vida mas plena y satisfactoria.</p>
            </div>
        </div>
    </div>  
    
</body>
</html>
