/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */


a.navbar-brand[b-ok8tbrwd6d] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ok8tbrwd6d] {
  color: #0077cc;
}



.btn-primary[b-ok8tbrwd6d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ok8tbrwd6d], .nav-pills .show > .nav-link[b-ok8tbrwd6d] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ok8tbrwd6d] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ok8tbrwd6d] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ok8tbrwd6d] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ok8tbrwd6d] {
  font-size: 1rem;
  line-height: inherit;
}



.footer[b-ok8tbrwd6d] {
  background-color: #F0E3D2; /* Color de fondo original del footer */
  color: #ffffff; /* Color de texto original del footer */
  padding: 10px 0; /* Padding para espacio interior */
  text-align: center; /* Centrar el texto */
  position: relative; /* Cambiado de absolute para permitir el flujo normal */
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

