/* Estilos generales */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Ajuste del logo en la barra de navegación */
.logo-adjustment {
  margin-left: 80px;
}

/* Alineación central de los elementos de navegación */
.navbar-nav-center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.navbar-nav-center .navbar-nav {
  margin-left: auto;
  margin-right: auto;
}

/* Estilo fijo para la barra de navegación */
.navbar {
  z-index: 1030; /* Asegura que el navbar se quede encima de otros elementos */
}

/* Cambiar el color del texto de los enlaces de navegación a un color oscuro para buen contraste */
.navbar .nav-link {
  color: #000000 !important;
}

/* Separación entre los elementos de navegación para pantallas grandes */
@media (min-width: 768px) {
  .navbar-nav .nav-item {
    margin-right: 20px; /* Ajusta este valor para cambiar la separación */
  }
  .navbar-nav .nav-item:last-child {
    margin-right: 0; /* Elimina el margen derecho del último elemento */
  }
}

/* Ajuste del logo y menú para pantallas pequeñas (móviles) */
@media (max-width: 767.98px) {
  .logo-adjustment {
    margin-left: 0;
  }
  .navbar-nav {
    flex-direction: column; /* Alinear los elementos verticalmente en móviles */
    align-items: center; /* Centrar elementos */
    padding: 0;
  }
  .navbar-nav .nav-item {
    margin-right: 0; /* Eliminar margen derecho en móviles */
    margin-bottom: 0px; /* Espaciado entre elementos en móviles */
  }
  .navbar-nav .nav-item:last-child {
    margin-bottom: 0; /* Elimina el margen inferior del último elemento */
  }
}
